
.menu {
	top: 0;
	right: 0;
	position: fixed;}


.menu ul {display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	list-style-type: none;
	width: 300px;}

.menu a{color: black;
	display: block;
	
	border: 3px double black;
	padding: 8px}

.menu a:hover {background-color: orange;}

.is-current {text-decoration: underline;
	color: red;
	background-color: green;
	color: red;}

.is-current a {color: red;}

header{margin-top: 30px;}



