body { 
    background-color: rgb(22, 6, 27);
    color: #eebeee;
    font-family: Georgia, Helvetica, sans-serif;
}

.container{
    margin: 0 auto;
    width: 90%;
    max-width: 960px;
}

#headerbox {
    background-color: #523874 ;
    padding: 10px ;
    border: 1px solid green ;
    margin-bottom: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

h1 {
    color: #adf182;
    font-size: 45px;
    text-align: center;
    font-family: Century, Helvetica, sans-serif;
}

h2 {
    color: #916cad;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 6px;
}

h3{
    color: #916cad
}

p { 
    margin-top: 5px;
    line-height: 1.3em;
}

ol {
    padding-right: 20px;
    color: #adf182;
    line-height: 1.5em;
}

ul {
    padding-right: 20px;
    color: #dc7d68;
    line-height: 1.5em;
}

figure { 
    float: right;
    margin-left: 20px;
}

a { 
    color: #523874;
    text-decoration: none;
}

a:hover { color: #dc7d68}